[project]
name = "hs2packagemanager"
version = "0.1.2"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pillow>=12.1.0",
    "pyinstaller>=6.17.0",
]
